@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.bp4-navbar{
  background-color:#FFCCD2; 
  color: #ffffff;
}
.bp4-elevation-4{
  background-color:#cfb1de; 
  width: 30%;
  position: relative;
  float: right; 
  justify-content: space-between;
  text-align: center;  
  margin: 10px 10px 10px 10px;
}

.productContainer{
  display: flex;
  padding-bottom: 60px;
}